	<@IF EXPR="'<@VAR local$l_srtorgn_email>'!=''">
		<@ASSIGN local$l_var VALUE="<@LOWER STR='<@VAR local$l_srtorgn_email>'>">
		<@ASSIGN NAME="l_regex_result" SCOPE="local" VALUE='<@REGEX EXPR="<@VAR local$l_email_validation_regex>" STR="<@VAR local$l_var>" TYPE=E>'>
		<@IF EXPR="('<@VARINFO ATTRIBUTE=TYPE NAME="<@VAR local$l_regex_result>" SCOPE="local">'!='ARRAY') AND ('<@VAR local$l_var>' != '')">
			<@ASSIGN local$l_errorMessage '<@VAR local$l_errorMessage><li>Email is invalid</li>'>
		</@IF>	
	</@IF>

	<@IF EXPR="'<@VAR local$l_srtorgn_street1>'=''">
		<@ASSIGN local$l_errorMessage '<@VAR local$l_errorMessage><li>Street 1 is missing</li>'>
	</@IF>
	
	<@IF EXPR="'<@VAR local$l_srtorgn_city>'=''">
		<@ASSIGN local$l_errorMessage '<@VAR local$l_errorMessage><li>City is missing</li>'>
	</@IF>
	
	<@IF EXPR="'<@VAR local$l_srtorgn_state>'=''">
		<@ASSIGN local$l_errorMessage '<@VAR local$l_errorMessage><li>Province / State is missing</li>'>
	</@IF>

	<@IF EXPR="'<@VAR local$l_srtorgn_state>' = 'XX' && !LEN('<@VAR local$l_srtorgn_state_other>')">
		<@ASSIGN local$l_errorMessage '<@VAR local$l_errorMessage><li>Province / State Other is missing</li>'>
	</@IF>

	<@IF EXPR="'<@VAR local$la_required_flds>' contains 'CR;' && !LEN('<@VAR local$l_srtorgn_ctry_id>')">
		<@ASSIGN local$l_errorMessage '<@VAR local$l_errorMessage><li>Country is missing</li>'>
	</@IF>

	<@IF EXPR="'<@VAR local$l_srtorgn_zip>'=''">
		<@ASSIGN local$l_errorMessage '<@VAR local$l_errorMessage><li>Postal code is missing</li>'>
	</@IF>