			<@IF expr="'<@VAR local$l_success_msg>' !=''" >
			<div class="feedback feedback--success feedback--narrow">
				<h6 class="feedback__title">Custom Question <@VAR local$l_success_msg_type></h6>
				<div class="feedback__desc">
					<p><@VAR local$l_success_msg></p>
				</div>
			</div>
			</@IF>
			
			<@IF expr="'<@VAR local$l_errorMessage>' !=''" >
			<div class="feedback feedback--error feedback--narrow">
				<h6 class="feedback__title">Error</h6>
				<div class="feedback__desc">
					<p><@VAR local$l_errorMessage></p>
				</div>
			</div>
			</@IF>