<@EXCLUDE>
	<@ASSIGN local$l_site_title_actions 
       		'<a class="button button--add" href="<@APPFILE>?_function=addnew&_nc=<@CIPHER action=hash str=<@CURRENTTIME>>" class="functionlink">Add Conference</a>'>
</@EXCLUDE>

<@EXCLUDE>
<@IF expr="'<@VAR local$l_function>'='detail' || '<@VAR local$l_function>'='update'">
	<@ASSIGN local$l_function 'update'>
	<@ASSIGN local$l_page_title '<@VAR local$l_site_name ENCODING=HTML>'>
	<@ASSIGN local$l_site_title_actions 
       		'<<a class="button button--transparent button--red button--remove js-launch-created-modal" href="<@APPFILE>?_function=deletemodal&sbtconf_uid1=<@VAR local$l_sbtconf_uid1 ENCODING=HTML>&_nc=<@CIPHER action='hash' str='<@CURRENTTIME>'>">Delete Conference</a>'>
<@ELSE>
	<@ASSIGN local$l_function 'insert'>
	<@ASSIGN local$l_page_title 'Add New'>
</@IF>
<@ASSIGN local$l_js_included '
	<script type="text/javascript">
	<!--
	//-->
	</script>
'>