<@PURGERESULTS>

	<h4 class="modal__title"></h4>
	<div class="modal__content">
		<p></p>
	</div>
	<div class="modal__controls">
		<a class="modal__cancel js-modal-cancel button button--transparent" href="<@APPFILE>?_nc=<@CIPHER action=hash str=<@CURRENTTIME>>">Cancel</a>
		<a class="modal__confirm js-modal-confirm button button--remove" href="<@APPFILE>?_function=delete&sbtusgr_uid1=<@VAR local$l_sbtusgr_uid1 ENCODING=HTML>&_nc=<@CIPHER action=hash str=<@CURRENTTIME>>">Delete</a>
	</div>

