				<div class="buttons buttons--center">
					<a href="#js-revealLogoUpload" class="button button--reveal js-reveal-hidden-panel-link">Update Logo</a>
				</div>
				<div id="js-revealLogoUpload" class="is-hidden">
				</@IF> <@! if update or no logo file> 
					<fieldset class="field field--resumable">
						<label>Logo Image Upload</label>			
						<div class="field__input-wrapper">
							<div class="resumable-error">
								<input type="file" name="file" />
								<em>Note: You are using an older browser; we strongly recommend using Internet Explorer 10+ or recent versions of FireFox.</em>
							</div>
							<div id="file-error-message" style="display:none">
								<div class="feedback feedback--error">
									<h6 class="feedback__title">Error</h6>
									<div class="feedback__desc">
										<p id="file-error-content"></p>
										<div class="buttons buttons--right"><a href="#" class="" onclick="javascript:document.getElementById('file-error-message').style.display = 'none';return false;">OK</a></div>
									</div>
								</div>
							</div>
							<a class="resumable-browse resumable-drop" ondragenter="jQuery(this).addClass('resumable-dragover');" ondragend="jQuery(this).removeClass('resumable-dragover');"
							ondrop="jQuery(this).removeClass('resumable-dragover');">
							<div class="emptystate emptystate--uploadfile">
								<div class="emptystate__icon"></div>
								Drop a file here
							</div>
							<div class="button--wrapper">
								<div class="button"><em>or</em> Choose File</div>
							</div>
						</a>
						<div class="resumable-progress">
							<div class="progress-container">
								<div class="progress-bar"></div>
							</div>
							<div class="progress-text"></div>
							<div class="progress-pause">
								<a href="#" class="progress-resume-link"><img src="/js/sys_general/lib/uploader/resumableResume.png" title="Resume upload" border=0 alt="Resume Upload"/></a>
								<a href="#" class="progress-pause-link"><img src="/js/sys_general/lib/uploader/resumablePause.png" title="Pause upload" border=0 alt="Pause Upload" /></a>
								<a href="#"  class="progress-cancel-link">reset</a>
							</div>
						</div>
						<ul class="resumable-list"></ul>
					</div>
					<div class="label__note label__note--under">
					Image limitations are as follows: jpg, png and gif images are accepted; maximum file size is <@VAR local$l_max_image_size ENCODING=HTML>KB.
					</div>
				</fieldset>