<table class="collapsing-table">
	<caption></caption>
	<thead>
		<tr>
			<th></th>
			<th class="col--right"></th>
		</tr>
		
	</thead>
	<tbody>
		<td data-td-label=”” class=”collapsing-table__cell--primary”></td>
	</tbody>
</table>